      body {text-align: center;}
      .interface  {position: relative; left: 12%; width: 76%; border: 3 double #444455; background-color: #dddddd; }

      .timelineFrame { position: relative; left: 5%; width: 90%; margin-top: 10px; margin-bottom: 15px; text-align: left; font-family: arial;}

      .timeline { position: relative; left: 0%; width: 100%; height: 30px; background-color: #aaaadd; 
                  margin-top: 10px; margin-bottom: 10px; border-top: 2px solid black; border-bottom: 2px solid black; }
      .scrubber { position: absolute; left: 0.3%; top: -25%; height: 150%; width: 15px; border-radius:20%;
                  background-color: #444455; cursor: move; z-index: 1; }
      

      .title    { font-size: 60% }

      .dependentTimeline { position: relative; left: 0%; width: 100%; height: 15px; background-color: #aaaabb; 
                  margin-bottom: 10px; border-top: 2px solid black; border-bottom: 2px solid black; }
      .dependentScrubber { position: absolute; left: 0.3%; top: 1%; height: 96%; width: 5px; border-radius:20%;
                  background-color: #444455; z-index: 1; }

      .highlightField {position: absolute; top: 15%; height: 70%; background-color: #ffff00; }